<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>PUT tournament</title>
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="static/css/jquery.fullpage.css">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="static/js/jquery.fullpage.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  </head>
  <body>
      <div id="fullpage">
          <div class="section s1" data-anchor="site1">
            <h1>PUT LEAGUE</h1>
            <h2>The best place to create a tournament</h2>
              <div id="button1">
                <a href="#site2"><button>Start</button></a>
              </div>
            </div>
          <div class="section" data-anchor="site2">
              <div class="slide s2">
                <h2>Select sports discipline:
                  <select id = "sport_disciplines">
                    <option value = "football">Football</option>
                    <option value = "basketball">Basketball</option>
                    <option value = "golf">Golf</option>
                  </select>
                </h2>
                <h2>Select number of teams:
                  <select id = "teams_number">
                    <option value = "sixteen">16</option>
                  </select>
                  </h2>
                  <div id="button1">
                    <a href="#site2/site3"><button>Next</button></a>
                  </div>
              </div>
              <div class="slide s3" data-anchor="site3">
                <h2>Enter names of the teams:
                    <form onsubmit="event.preventDefault();onFormSubmit();" autocomplete="off">
                      <div class="team-add-button">
                        <input type="text" name="teamName" id="teamName" pattern="[A-Za-z]{1,12}" title="Only up to 12 a-z or A-Z characters allowed">
                        <input type="submit" value="Add team">
                      </div>
                    </form>
                </h2>
                  <table class="table1" id="allTeams">
                    <thead>
                    <tr>
                      <th>Team name</th>
                      <th></th>
                    </tr>
                  </thead>
                    <tbody>

                   </tbody>
                  </table>
                  <div id="button3">
                    <a href="teams"><button>Split into groups</button></a>
                  </div>
              </div>
              <div class="slide s4" data-anchor="site4">
                <h1>Generated groups</h1>
                <div>
                    <button id="generate">Generate</button>
                      <form id='teams_groups'>

                      </form>
                </div>
                  <div id="button1">
                    <a href="/"><button>Home</button></a>
                  </div>
              </div>
            </div>
      <script>
        new fullpage("#fullpage", {
            autoScrolling:true,
            controlArrows:false,
        });
        </script>

      <script src="static/js/table.js"></script>
  </body>
</html>
