<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="static/css/main.css">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="static/jquery.fullpage.js"></script>
    <link rel="stylesheet" href="static/css/jquery.fullpage.css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>
  </head>
  <body>
      <div id="fullpage">
          <div class="section s1" data-anchor="site1">
            <h1>PUT LEAGUE</h1>
            <h2>The best place to create tournamet</h2>
              <div id="button1">
                <a href="#site2"><button>Start</button></a>
              </div>
            </div>
          <div class="section" data-anchor="site2">
              <div class="slide s2">
                <h2>Select sports discipline:
                  <select id = "sport_disciplines">
                    <option value = "football">Football</option>
                    <option value = "basketball">Basketball</option>
                    <option value = "golf">Golf</option>
                  </select>
                </h2>
                <h2>Select number of teams:
                  <select id = "teams_number">
                    <option value = "sixteen">16</option>
                  </select>
                  </h2>
                  <div id="button1">
                    <a href="#site2/site3"><button>Next</button></a>
                  </div>
              </div>
              <div class="slide s3" data-anchor="site3">
                <h2>Enter names of the teams:
                    <form action="{{ url_for('my_form_post') }}" method="post">
                        <input type="text" name="team_name">
                        <input type="submit">
                    </form>
                </h2>
                  <table>
                    <tr>
                      <td>{{ processed_text }}</td>
                    </tr>
                    <tr>
                      <td>TEAM 2</td>
                    </tr>
                    <tr>
                      <td>TEAM 3</td>
                    </tr>
                  </table>
                  <div id="button1">
                    <a href="#site2/site4"><button>Next</button></a>
                  </div>
              </div>
              <div class="slide s4" data-anchor="site4">
                <h1>Generated groups</h1>
                  <div id="button1">
                    <a href="/"><button>Home</button></a>
                  </div>
              </div>
            </div>
      <script>
        new fullpage("#fullpage", {
            autoScrolling:true,
            controlArrows: false,
        })
      </script>
  </body>
</html>
