
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Generated groups</title>
  </head>
  <body>
    <h1>Thank you. Yours groups:    </h1>

      <br>{{ groups[0][0] }}</br>
      <br>{{ groups[0][1] }}</br>
      <br>{{ groups[0][2] }}</br>
      <br>{{ groups[0][3] }}</br>
      <br>{{ groups[1][0] }}</br>
      <br>{{ groups[1][1] }}</br>
      <br>{{ groups[1][2] }}</br>
      <br>{{ groups[1][3] }}</br>
      <br>{{ groups[2][0] }}</br>
      <br>{{ groups[2][1] }}</br>
      <br>{{ groups[2][2] }}</br>
      <br>{{ groups[2][3] }}</br>
      <br>{{ groups[3][0] }}</br>
      <br>{{ groups[3][1] }}</br>
      <br>{{ groups[3][2] }}</br>
      <br>{{ groups[3][3] }}</br>
      
  </body>
</html>
